#mainContact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 200px 0px;
    /* background-color: red; */
}

#formContact {
    width: clamp(350px, 30%, 700px);
    height: 650px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.identite {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#contactInputNom,
#contactInputPrenom {
    width: 45%;
    height: 100%;
}

#contactInputTel,
#contactInputEmail,
details {
    width: 100%;
    height: 10%;
}

summary {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#contactInputMessage {
    width: 100%;
    height: 25%;
}

input,
details {
    font-size: 1em;
    font-weight: 300;
    padding-left: 20px;
    letter-spacing: 2px;
    background-color: #F9F9F9;
    border: 1px solid #202020;
    border-radius: 0px;
    caret-color: #22C8DD;

}

#contactInputBtn {
    padding: 0;
    width: 30%;
    height: 7%;
    font-weight: 500;
    color: #F9F9F9;
    background-color: #202020;
}

details {
    color: #F9F9F9;
    background-color: #202020;
}

::placeholder {
    color: #202020;
}

#contactInputMessage {
    word-break: break-all;
    padding-bottom: 70px;
}