footer {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: black;
}

/* PARTIE GAUCHE DU FOOTER */

/* moitié gauche du footer */
#footerSectionLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerContainerSectionLeft {
    width: 85%;
    height: 100%;
    gap: 7%;
    display: flex;
    align-items: center;
}

/* espace de positionnement des icon reseaux sociaux */
.containerFacebook,
.containerIntagram,
.containertiktok {
    width: clamp(25px, 6%, 40px);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}

/* icon reseaux sociaux */
#facebook,
#instagram,
#tiktok {
    width: 100%;
    height: 100%;
}

/* PARTIE DROITE DU FOOTER */

/* moitié droite du footer */
#footerSectionRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.footerContainerSectionRight {
    width: 85%;
    height: 100%;
    gap: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* CREATON DU TOGGLE */

/* forme du toggle */
.toggle {
    width: clamp(45px, 13%, 85px);
    aspect-ratio: 2.3/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: white;
}

/* interrieur invisible permettant de séparer le cercle et les bords du toggle */
.positionCercleToggle {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/* cercle interactif du toggle */
.cercleToggle {
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: black;
}

/* espace de positionnement de l'icon user */
.containerUser {
    width: clamp(25px, 6%, 40px);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* icon pour l'admin amenant a un panneau de connexion */
#user {
    width: 100%;
    height: 100%;
}