header {
    position: relative;
    width: 100vw;
    height: 100dvh;
    display: flex;
}

#headerSectionLeft {
    width: 65%;
    height: 100%;
}

#headerSectionRight {
    width: 35%;
    height: 100%;
    background-color: black;
}

/* LOGO IZALINE */

.containerLogoIzaline {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionLogoIzaline {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.positionLogoIzaline p {
    font-size: 2em;
    font-weight: 500;
}

/*  */

#ContainerCenterHeader {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.headerCenter {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerH1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: orange; */
}

.containerH2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
}

nav {
    position: sticky;
    top: 0;
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
}

nav ul {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    border-bottom: 3px solid #22C8DD;
}

#robotHeader {
    position: absolute;
    width: clamp(200px, 20%, 330px);
    height: auto;
    top: 45%;
    right: 22%;
}

#robotHeader2 {
    display: none;
}


@media screen and ( max-width: 985px) {
    #headerSectionRight {
        position: relative;
        display: none;
    }

    #headerSectionLeft {
        width: 100%;
    }

    #ContainerCenterHeader {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: none;
    }

    #robotHeader {
        display: none;
    }

    #robotHeader2 {
        position: absolute;
        display: flex;
        width: clamp(200px, 20%, 330px);
        height: auto;
        top: 70%;
        right: 36%;
    }
    
    .headerCenter {
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
    }

    .containerH1 {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .containerH2 {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: aqua;
    }

    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 2.5vw;
    }
}

@media screen and ( max-width: 636px) {
    .headerCenter {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
    }

    .containerH1 {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .containerH2 {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: aqua;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 2.8vw;
    }
}

@media screen and ( max-width: 580px) {
    h2 {
        font-size: 2.3vw;
    }
}