#mainPrestations {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 200px 0px;
}

.prestation {
    position: relative;
    width: 75%;
    min-width: 350px;
    height: 500px;
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 150px;
    border: 1px solid black;
}

.positionPrestation {
    width: 90%;
    height: 95%;
    display: flex;
}

#interactive {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
}

.insidePrestation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#insidePrestationInteractive {
    align-items: end;
    text-align: end;
}

/* ------------------------------------------------------ */

.containerH4Vitrine,
.containerH4Complete {
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerH4Interactive {
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ------------------------------------------------------ */

.containerPVitrine,
.containerPInteractive,
.containerPComplete {
    width: 35%;
    height: 30%;
    display: flex;
    align-items: center;
}

/* ------------------------------------------------------ */

.containerPVitrine p,
.containerPInteractive p,
.containerPComplete p {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
}

/* ------------------------------------------------------ */

.insideVitrine,
.insideInteractive,
.insideComplete {
    width: 35%;
    height: 45%;
}

/* ------------------------------------------------------ */

.insideVitrine p,
.insideInteractive p,
.insideComplete p {
    width: 100%;
    height: 20%;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 2px;
}

/* ------------------------------------------------------ */

#robotPrestationVitrine,
#robotPrestationComplete {
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 50px;
    right: 100px;
}

#robotPrestationInteractive {
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 50px;
    left: 100px;
    transform: scalex(-1);
}

.insideVitrine ul,
.insideInteractive ul,
.insideComplete ul {
    width: 100%;
    height: 80%;
    overflow: auto;
}