<IfModule mod_expires.c>
    ExpiresActive On
    # Set default expiration times for various file types
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType text/css "access plus 0 seconds"
    ExpiresByType application/javascript "access plus 0 seconds"
    ExpiresByType image/gif "access plus 0 seconds"
    ExpiresByType image/jpeg "access plus 0 seconds"
    ExpiresByType image/png "access plus 0 seconds"
    ExpiresByType image/svg "access plus 0 seconds"
</IfModule>

<IfModule mod_headers.c>
    # Prevent caching by setting Cache-Control and Pragma headers
    <FilesMatch "\.(html|css|js|gif|jpe?g|png)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
    </FilesMatch>
</IfModule>



