* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    list-style: none;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F9F9F9;
    color: #202020;
    background-repeat: no-repeat;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
}

h2 {
    font-size: 1.6vw;
    font-weight: 200;
}

h3 {
    font-size: clamp(40px, 8vw, 64px);
    color: #22C8DD;
}

h4 {
    font-size: clamp(35px, 8vw, 50px);
    color: #22C8DD;
}

span,
strong {
    color: #22C8DD;
}

input {
    color: #202020;
}

.titleSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSection p {
    font-size: clamp(20px, 3vw,25px);
    font-weight: 300;
}

.positionTitleSection {
    width: 85%;
    height: 100%;
}