#mainPrestations {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 200px 0px;
}

.prestation {
    width: 60%;
    min-width: 350px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 150px;
    border: 1px solid #202020;
}

.positionPrestationLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insidePrestation {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.containerH4Vitrine {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPVitrine {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
}

.containerPVitrine p {
    font-size: clamp(18px, 2vw, 25px);
    font-weight: 200;
}

.insideVitrine,
.insideVitrine2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideVitrine ul,
.insideVitrine2 ul {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 200;
    overflow: auto;
}

.insideVitrine2 {
    display: none;
}

.containerInsideVitrine,
.containerInsideVitrine2 {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #22C8DD;
}

.positionInsideVitrine,
.positionInsideVitrine2 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.positionInsideVitrine p,
.positionInsideVitrine2 p {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
}

#prestation2 {
    display: flex;
    justify-content: flex-start;
    background-color: #202020;
    color: #F9F9F9;
}

