.toggle {
    width: clamp(45px, 13%, 85px);
    aspect-ratio: 2.3/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #F9F9F9;
    cursor: pointer;
}
.positionCercleToggle {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.cercleToggle {
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: #202020;
}

/* DARK-MODE */

body.dark-mode {
    background-color: #202020;
    color: #F9F9F9;
}

.dark-mode .toggle {
    background-color: #202020;
}

.dark-mode .cercleToggle {
    background-color: #F9F9F9;
}

.toggle, .cercleToggle {
    transition: background-color 0.3s, transform 0.3s;
}

.dark-mode 
.positionCercleToggle 
.cercleToggle {
    transform: translateX(180%);
}

.dark-mode #prestation2,
.dark-mode select,
.dark-mode #contactInputBtn {
    background: #F9F9F9;
    color: #202020;
}

.dark-mode #prestation1,
.dark-mode #prestation3 {
    border: 1px solid #F9F9F9;
}

.dark-mode #headerSectionRight,
.dark-mode footer {
    background-color: #F9F9F9;
}

.dark-mode input,
.dark-mode textarea  {
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    background-color: #202020;
}

.dark-mode #nav ul li a,
.dark-mode ::placeholder  {
    color: #F9F9F9;
}

.dark-mode .cercleBtnAddProject {
    background-color: #202020;
}