#mainPrestations {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 200px 0px;
}

.prestation {
    position: relative;
    width: 70%;
    min-width: 450px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
    border: 1px solid black;
}

#interactive {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
}

.insidePrestation {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}

#insidePrestationInteractive {
    align-items: end;
    text-align: end;
}

.containerH4Vitrine,
.containerH4Complete {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerH4Interactive {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containerPVitrine,
.containerPInteractive,
.containerPComplete {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
}

.containerPVitrine p,
.containerPInteractive p,
.containerPComplete p {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
}

.insideVitrine,
.insideInteractive,
.insideComplete {
    width: 50%;
    height: 45%;
    overflow: auto;
}

.insideVitrine p,
.insideInteractive p,
.insideComplete p {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 2px;
}




#robotPrestationVitrine,
#robotPrestationComplete {
    position: absolute;
    width: 30%;
    height: auto;
    top: 50px;
    right: 0;
}

#robotPrestationInteractive {
    position: absolute;
    width: 30%;
    height: auto;
    top: 50px;
    left: 0;
    transform: scalex(-1);
}