/* CREATON DU TOGGLE */

/* forme du toggle */
.toggle {
    width: clamp(45px, 13%, 85px);
    aspect-ratio: 2.3/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #F9F9F9;
    cursor: pointer;
}

/* interrieur invisible permettant de séparer le cercle et les bords du toggle */
.positionCercleToggle {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/* cercle interactif du toggle */
.cercleToggle {
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: #202020;
}


/* DARK-MODE */

body.dark-mode {
    background-color: #202020;
    color: #F9F9F9;
}

.dark-mode .toggle {
    background-color: #202020;
}

.dark-mode .cercleToggle {
    background-color: #F9F9F9;
}

/* Transitions */
.toggle, .cercleToggle {
    transition: background-color 0.3s, transform 0.3s;
}

/* Toggle circle position in dark mode */
.dark-mode .positionCercleToggle .cercleToggle {
    transform: translateX(180%);
}

.dark-mode #interactive {
    background: #F9F9F9;
    color: #202020;
}

.dark-mode #vitrine {
    border: 1px solid #F9F9F9;
}

.dark-mode #headerSectionRight {
    background-color: #F9F9F9;
}

.dark-mode footer {
    background-color: #F9F9F9;
}

.dark-mode select,
.dark-mode #contactInputBtn {
    background-color: #F9F9F9;
    color: #202020;
}

.dark-mode input {
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    background-color: #202020;
}

.dark-mode textarea {
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    background-color: #202020;
}

.dark-mode a {
    color: #F9F9F9;
}

.dark-mode ::placeholder {
    color: #F9F9F9;
}

.dark-mode .file {
    background-color: #F9F9F9;
}