@media screen and ( max-width: 1180px) {
    .prestation {
        width: 70%;
        min-width: 350px;
        height: 550px;
        display: flex;
        align-items: center;
        margin-top: 150px;
        border: 1px solid #202020;
    }

    .positionPrestationLeft {
        width: 100%;
    }

    .insidePrestation {
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .containerH4Vitrine {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerPVitrine {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
    }
    .insideVitrine {
        display: none;
    }
    .insideVitrine2 {
        display: flex;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerInsideVitrine2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #22C8DD;
    }
}

@media screen and ( max-width: 800px) {        
    .insideVitrine2 ul {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2em;
        font-weight: 200;
        overflow: auto;
    }

    .positionInsideVitrine2 p {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        font-size: 1.3em;
        font-weight: 500;
    }
}