@media screen and ( max-width: 999px) {
    #headerSectionLeft {
        width: 100%;
    }

    #headerSectionRight {
        display: none;
    }

    #navBurger {
        position: fixed;
        z-index: 4;
        right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #navBurger ul {
        position: fixed;
        top: 120px;
        width: 200px;
        height: 300px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
    }

    #navBurger ul li {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #202020;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    #navBurger ul li a {
        color: #202020;
    }

    .headerCenter {
        width: 80%;
        height: 90%;
        justify-content: space-between;
    }

    .containerH1,
    .containerH2  {
        width: 80%;
        height: 30%;
    }
    
    .containerRobotHeaderResponsive {
        width: 80%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #robotHeaderResponsive {
        width: 90%;
        height: 90%;
        object-fit: contain;
    }

    #nav {
        display: none;
    }

    #robotHeader {
        display: none;
    }

    h1 {
        font-size: 6.8vw;
    }
    
    h2 {
        font-size: 2.2vw;
    }
}

@media screen and ( max-width: 737px) {
    .headerCenter {
        width: 90%;
        height: 90%;
    }
    h1 {
        font-size: 7.5vw;
    }
    
    h2 {
        font-size: 2.5vw;
    }
}

@media screen and ( max-width: 560px) {
    h1 {
        font-size: 7.5vw;
    }
    
    h2 {
        font-size: 3vw;
    }
}

@media screen and ( max-width: 424px) {
    h1 {
        font-size: 7vw;
    }
    
    h2 {
        font-size: 3.5vw;
    }
}